@model Post

<h1>Добавить новость</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="post_rating"></label>
        <input asp-for="post_rating" type="number" />
    </div>
    <button type="submit">Создать</button>
</form>